*{
	margin: 0 auto;
	padding: 0;
	font-family: 'POPPINS', sans-serif;
}

.content{
	width: 100%;
	height: 100vh;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.social-item{
	display: flex;
} 
.social-item a{
	width: 80px;
	height: 80px;
	text-align: center;
	text-decoration: none;
	color: black;
	box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
	margin: 0 50px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transition: transform 0.5s;

}

.social-item a .fa-solid{
	font-size: 30px;
	line-height: 80px;
	position: relative;
	z-index: 10;
	transition: color 0.5s;
}

.social-item a::after{
	content: '';
	width: 100%;
	height: 100%;
	top: -90px;
	left: 0;
	background: linear-gradient(-45deg, #ed1c94, #ffec17);
	position: absolute;
	transition: 0.5s;

} 

.social-item a:hover::after{
	top: 0;

}

.social-item a:hover .fa-solid {
	color: white;
}

.social-item a:hover{
	transform: translateY(-10px);
}